[submodule "twerth/dotfiles"]
	path = twerth/dotfiles
	url = git://github.com/twerth/dotfiles.git
[submodule "timmfin/terminalcolours"]
	path = timmfin/terminalcolours
	url = git://github.com/timmfin/terminalcolours.git
[submodule "texmate"]
	path = texmate
	url = git://github.com/textmate/make.tmbundle.git
